##### Understand the Schema #####

##### load data

In [1]:
import pandas as pd

data = pd.read_csv("../data/raw/ethiopia_fi_unified_data.csv")
impact_link = pd.read_csv("../data/raw/impact_sheet.csv")
reference_data = pd.read_csv("../data/raw/reference_codes.csv")

In [2]:
reference_data.head()

,field,code,description,applies_to
0,record_type,observation,Actual measured value from a source,All
1,record_type,event,Policy launch market event or milestone,All
2,record_type,impact_link,Relationship between event and indicator (link...,All
3,record_type,target,Policy target or official goal,All
4,record_type,baseline,Starting point for comparison,All

In [3]:
impact_link.head()

,record_id,parent_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,IMP_0001,EVT_0001,impact_link,NaN,ACCESS,Telebirr effect on Account Ownership,NaN,NaN,15.0,NaN,...,increase,high,15.0,12,literature,Kenya,Example_Trainee,2025-01-20,NaN,Kenya M-Pesa showed +20pp over 5 years
1,IMP_0002,EVT_0001,impact_link,NaN,USAGE,Telebirr effect on Telebirr Users,NaN,NaN,NaN,NaN,...,increase,high,NaN,3,empirical,NaN,Example_Trainee,2025-01-20,NaN,Direct subscriber acquisition
2,IMP_0003,EVT_0001,impact_link,NaN,USAGE,Telebirr effect on P2P Transactions,NaN,NaN,25.0,NaN,...,increase,high,25.0,6,empirical,NaN,Example_Trainee,2025-01-20,NaN,New digital payment channel
3,IMP_0004,EVT_0002,impact_link,NaN,ACCESS,Safaricom effect on 4G Coverage,NaN,NaN,15.0,NaN,...,increase,medium,15.0,12,empirical,NaN,Example_Trainee,2025-01-20,NaN,Network investment from competition
4,IMP_0005,EVT_0002,impact_link,NaN,AFFORDABILITY,Safaricom effect on Data Affordability,NaN,NaN,-20.0,NaN,...,decrease,medium,-20.0,12,literature,Rwanda,Example_Trainee,2025-01-20,NaN,Competition typically reduces prices

In [21]:
impact_link.shape

(14, 35)

In [22]:
impact_link["pillar"].value_counts()

pillar
USAGE            6
ACCESS           4
AFFORDABILITY    3
GENDER           1
Name: count, dtype: int64

In [33]:
events = data[data.record_type == "event"]

impact_event_map = impact_link.merge(
    events[['record_id', 'indicator', 'observation_date', 'category']],
    left_on='parent_id',
    right_on='record_id',
    how='left'
)

impact_event_map[['pillar', 'indicator_direction', 'lag_months']]

           pillar  indicator_direction  lag_months
0          ACCESS                  NaN          12
1           USAGE                  NaN           3
2           USAGE                  NaN           6
3          ACCESS                  NaN          12
4   AFFORDABILITY                  NaN          12
5           USAGE                  NaN           3
6          ACCESS                  NaN           6
7          ACCESS                  NaN          24
8          GENDER                  NaN          24
9   AFFORDABILITY                  NaN           3
10          USAGE                  NaN           3
11          USAGE                  NaN           3
12          USAGE                  NaN           6
13  AFFORDABILITY                  NaN           1

In [12]:
data.head()

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN

Count records

In [5]:
data["record_type"].value_counts()

record_type
observation    30
event          10
target          3
Name: count, dtype: int64

In [16]:
data["pillar"].value_counts()

pillar
ACCESS           16
USAGE            11
GENDER            5
AFFORDABILITY     1
Name: count, dtype: int64

In [17]:
data["source_type"].value_counts()

source_type
operator      15
survey        10
regulator      7
research       4
policy         3
calculated     2
news           2
Name: count, dtype: int64

In [18]:
data["confidence"].value_counts()

confidence
high      40
medium     3
Name: count, dtype: int64

Temporal Coverage

In [ ]:
data["indicator_code"].unique()

<StringArray>
[     'ACC_OWNERSHIP',     'ACC_MM_ACCOUNT',         'ACC_4G_COV',
     'ACC_MOBILE_PEN',          'ACC_FAYDA',      'USG_P2P_COUNT',
      'USG_P2P_VALUE',      'USG_ATM_COUNT',      'USG_ATM_VALUE',
      'USG_CROSSOVER', 'USG_TELEBIRR_USERS', 'USG_TELEBIRR_VALUE',
    'USG_MPESA_USERS',   'USG_MPESA_ACTIVE',    'USG_ACTIVE_RATE',
    'AFF_DATA_INCOME',        'GEN_GAP_ACC',       'GEN_MM_SHARE',
     'GEN_GAP_MOBILE',       'EVT_TELEBIRR',      'EVT_SAFARICOM',
          'EVT_MPESA',          'EVT_FAYDA',      'EVT_FX_REFORM',
      'EVT_CROSSOVER',  'EVT_MPESA_INTEROP',       'EVT_ETHIOPAY',
          'EVT_NFIS2',   'EVT_SAFCOM_PRICE']
Length: 29, dtype: str

In [9]:
data[data.record_type=='observation']['observation_date'].min()

'2014-12-31'

In [7]:
data[data.record_type=='observation']['observation_date'].max()

'2025-12-31'

Indicators Present

In [10]:
data[data.record_type=='observation']['indicator_code'].unique()

<StringArray>
[     'ACC_OWNERSHIP',     'ACC_MM_ACCOUNT',         'ACC_4G_COV',
     'ACC_MOBILE_PEN',          'ACC_FAYDA',      'USG_P2P_COUNT',
      'USG_P2P_VALUE',      'USG_ATM_COUNT',      'USG_ATM_VALUE',
      'USG_CROSSOVER', 'USG_TELEBIRR_USERS', 'USG_TELEBIRR_VALUE',
    'USG_MPESA_USERS',   'USG_MPESA_ACTIVE',    'USG_ACTIVE_RATE',
    'AFF_DATA_INCOME',        'GEN_GAP_ACC',       'GEN_MM_SHARE',
     'GEN_GAP_MOBILE']
Length: 19, dtype: str

Events Cataloged

In [15]:
data[data.record_type=='event'][['indicator','observation_date','category']]

                                 indicator observation_date        category
33                         Telebirr Launch       2021-05-17  product_launch
34    Safaricom Ethiopia Commercial Launch       2022-08-01    market_entry
35                  M-Pesa Ethiopia Launch       2023-08-01  product_launch
36        Fayda Digital ID Program Rollout       2024-01-01  infrastructure
37         Foreign Exchange Liberalization       2024-07-29          policy
38     P2P Transaction Count Surpasses ATM       2024-10-01       milestone
39            M-Pesa EthSwitch Integration       2025-10-27     partnership
40  EthioPay Instant Payment System Launch       2025-12-18  infrastructure
41                 NFIS-II Strategy Launch       2021-09-01          policy
42       Safaricom Ethiopia Price Increase       2025-12-15         pricing